.cardInformation {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: var(--gray-500);

    padding: 1.5rem 0;
    border-radius: 8px;
    align-items: center;
}

.selectedTask {
    width: 1.5rem;
    height: 1.5rem;
    background-color: transparent;
    border-radius: 50%;
    vertical-align: middle;
    border: 2px solid var(--blue);
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
    align-items: center;

    margin: 0 1rem;

    position: relative;
}

.selectedTask:hover {
    border: 2px solid var(--blue-dark);
    background-color: var(--blue-dark);
}

.completedSelectedTask, .uncompletedTask{
    position: absolute;
    top: -2px;
    left: -2px;
}

.completedSelectedTask{
    background: var(--purple-dark);
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;

    line-height: 24px;
}

.checkIconClass {
    color: var(--white);
    font-weight: bold;
}

.textTaskIsCompleted {
    text-decoration: line-through;
}

.cardInformation .check{
    height: 1.5rem;
    width: 1.5rem;
    border-color: var(--blue);
    border-width: 2px;
    border-radius: 50%;
    background: none;

    transition: background-color 1s;
}

.cardInformation .check:hover{
    background: var(--purple-dark);
    border-color: var(--purple-dark);
}

.cardInformation p{
    color: var(--white);
    font-size: 14px;
}

.cardInformation .trash {
    cursor: pointer;
   
    display: flex;
    align-self: center;
    background: none;
    outline-color: var(--danger);
    color: var(--gray-300);
    border: unset;

    transition: color 1s;
    margin: 0 1.5rem;
}

.cardInformation .trash:hover {
    color: var(--danger);
}