.taskListContainer{
    display: flex;
    justify-content: space-between;
    margin: 3rem 0 0 0;
    
    border-bottom: 1px solid var(--gray-400);
    padding: 3rem 0 20px 0;
    
    max-width: 746px;
    margin: 0 auto;
}

.taskList{
    color: var(--blue);
    font-weight: bold;
}

.taskDone{
    color: var(--purple);
    font-weight: bold;
}


.taskList span + span,
.taskDone span + span{
    color: var(--white);
    background: var(--gray-400);
    border-radius: 30px;

    padding: 4px 12px;
    margin: 0 0 0 10px;
}


.taskCardContainer {
    margin: 40px auto;
    max-width: 746px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.emptyMessage{
    margin: 20px 0 0 0;
    color: var(--gray-300);
}

p:first-child {
    font-weight: bold;
}

.cardInformations{
    display: flex;
    list-style: none;
    width: 100%;
    flex-direction: column;
    gap: 20px;
}