main {    
    max-width: 746px;
    margin: 0 auto;
}

main form {
    display: flex;
    gap: 20px;
}

main form input,
main form button[type=submit]{
    display: flex;
    
    border-radius: 8px;
    margin: -1.5rem 0 0 0;
    
    border: none;
    color: var(--white);
}

main form input{
    flex: 1;
    background: var(--gray-500);
    outline-color: var(--blue-dark);
    padding: 0.75rem 0 0.75rem 1rem;
}

main form footer{
    display: flex;
}

main form button[type=submit]{
    display: flex;
    padding: 1rem;
    background: var(--blue-dark);
    color: var(--white);
    outline-color: var(--white);

    align-items: center;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;

    transition: background-color 0.1s;
}

main form button[type=submit]:not(:disabled):hover{
    background: var(--blue);
}

main form button[type=submit]:disabled{
    opacity: 0.8;
    cursor: not-allowed;
}

main form button[type=submit] svg{
    margin: 0 0 0 5px;
}

